*{margin:0;padding:0;border:0;vertical-align:baseline;box-sizing:border-box}#game-container{width:640px;height:480px;margin:0 auto;display:block;margin-top:20px}p{text-align:center}p:first-of-type{margin-top:20px}